<section class='no_body_content_left no_body_content_right' id='body_content'>
  <section id='body'>
    <% if @page.images.any? %>
      <ul id='gallery'>
        <% @page.images.each_with_index do |image, index| %>
          <li class='<%= cycle('item_1', 'item_2', 'item_3', 'item_4') %>'>
            <%= link_to(image_tag(image.thumbnail('150x112#c').url, :size => '150x112'), image.thumbnail('900x675#c').url) %>
          </li>
        <% end %>
      </ul>
    <% end %>
    <div class='inner'>
      <%= raw @page.content_for(:body) %>
    </div>
    <%= yield :body_content_left %>
  </section>

  <section id='side_body'>
    <div class='inner'>
      <%= raw @page.content_for(:side_body) %>
    </div>
    <%= render :partial => "common/weather" %>
  </section>
</section>
