<section class='no_body_content_left no_body_content_right' id='body_content'>
  <section id='body'>
    <% if @page.images.any? %>
      <ul id='gallery'>
        <% @page.images.each do |image| %>
          <li>
            <%= link_to image_tag(image.thumbnail(geometry: "86x650#c").url), image.thumbnail(geometry: "900x600").url %>
          </li>
        <% end %>
      </ul>
    <% end %>
    <div class='inner'>
      <%= raw @page.content_for(:body) %>
    </div>
    <%= yield :body_content_left %>
  </section>

  <section id='side_body'>
    <div class='inner'>
      <%= raw @page.content_for(:side_body) %>
    </div>
    <%= render :partial => "common/weather" %>
  </section>
</section>
