<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
<% site_bar = render('/refinery/site_bar', :head => true) %>
<%= render '/refinery/head' %>
<%= render '/refinery/javascripts' %>
<% content_for :javascripts do %>
  <%= javascript_include_tag 'application' %>
<% end %>
<body class='<%= %w(sea mountain)[rand(2)] %>'>
  <%= site_bar %>
  <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ %>
  <div id='page_container'>
    <header id='header'>
      <%= render '/refinery/header' %>
    </header>
    <section id='content'>
      <%= yield %>
    </section>
  </div>
  <%= render :partial => 'common/metrika' if Rails.env.production? %>
</body>
</html>
